<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<link rel="stylesheet" href="styles/style.css">
	<title>Home</title>
</head>
<body class='home'>
	
	<main>
		<h1>John's Stripe Shop</h1>
		
		<div class="ejs">
			<a href='checkout'>Go to Shop</a>
		</div>

<!-- 		<form action="/create-checkout-session" method="POST">
        <button type="submit" id="checkout-button">Stripe Checkout</button>
    </form> -->

	</main>
</body>
</html>