<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<link rel="stylesheet" href="styles/style.css">
	<title>Home</title>
</head>

<body class='home'>
	
	<main>
		<h1>John's Stripe Store</h1>

		<div class="ejs">
			<a href='checkout'>Go to Shop</a>
		</div>
	</main>

</body>
</html>