<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title>Home</title>
</head>
<body>
	<header>Welcome Home</header>
	<main>
		<a href='checkout.html'>Buy Something</a>

		<form action="/create-checkout-session" method="POST">
        <button type="submit" id="checkout-button">Checkout</button>
    </form>
	</main>
</body>
</html>